body {
    background-color: azure;
}

header[name] {
    background-color: brown;
}

h3[name="mih3"] {
    font-size: 30px;
    background-color: blueviolet;
}

p[name~="mi"] {
    font-style: italic;
    font-weight: bolder;
}

p[name^="mi"] {
    background-color: aquamarine;
}

p[name$="mi"] {
    background-color: red;
}

p[name*="fra"] {
    background-color: darkgoldenrod;
}



